.image{
	-fx-effect: dropshadow(three-pass-box, rgba(0.0,0.0,0.0,0.8), 10.0, 0.0, 0.0, 0.0);
}

.vbox:hover{
	-fx-background-color: rgba(0.0,255.0,255.0,0.1);
}

.label1{
	-fx-font-size: 10.0px;
}

.menu-button {
    -fx-padding: 5.0 22.0 5.0 22.0;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2.0;
    -fx-background-radius: 0.0;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11.0pt;
    -fx-text-fill: yellow;
}

.menu-button:hover {
    -fx-background-color: yellow;
}