.image{

	-fx-padding: 10;
	-fx-border-style:ridge;
	-fx-border-color: #e2e2e2;
    -fx-border-width: 2;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
	}

.image:hover{
	-fx-scale-x: 1.3;
    -fx-scale-y: 1.3;
    -fx-scale-z: 1.3;
}

.menu-button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-background-color: grey;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: yellow;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.menu-button:hover {
    -fx-background-color: purple;
}
