.image{
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.vbox:hover{
	-fx-background-color: rgba(0,255,255,0.3);
}

.label1{
	-fx-font-size: 10px;
}

.menu-button {
    -fx-padding: 5 22 5 22;
    -fx-border-color: #e2e2e2;
    -fx-border-width: 2;
    -fx-background-radius: 0;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 11pt;
    -fx-text-fill: yellow;
}

.menu-button:hover {
    -fx-background-color: yellow;
}
